.App {
  text-align: center;
}

.todo{
  margin-top: 10px;
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.listTodo{
  width: 300px;
  display: flex;
  justify-content: space-between;
}